<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>DIBS</title>
<link rel="shortcut icon" type="image/png" href="/static/image/smiley.jpg"/>
<link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
<!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB28dYnChM2OgEMpgLL8rOXsR7_cuGJ4NU"> </script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<style type="text/css">
    body{
    	padding-top: 35px;
    }
</style>

<script src="/static/js/loadPhoto.js"></script>
<script src="/static/js/loadPage.js"></script>
<script src="/static/js/getData.js"></script>

<!--<script src="/static/js/loadGeoloc.js"></script>-->

{{template "head" .}}

</head>
<body>
<script src="/static/js/fbCheck.js"></script>
<div id='hidden' style='display:none;'>
<input type="hidden" value='' id="geoloc">
<input type="hidden" value='' id="me" >
<div class="container" style="text-align:center;">

<div id="fb-root"></div>   
  




<div class="container" id="facebook-login">
</div>
<div class="container" id="facebook-like">
<!-- Added to check fb compability (Like Button)-->
<div class="fb-like" id="fb-liike" style="display:none;" data-share="false" data-width="200" data-show-faces="false">
</div>
</div>
</div>


<div class="container" id="dibs-sidebar" style="position:fixed; left:0; width:20%; float: left; text-align: center;" >
	<div class="row" >
		<img src="/static/image/dibs.png" style="width:150px; height:100px;">
	</div>

	<div class="row" >
		<img src="" style="width:100px; height:125px;" id="fbphoto" >

	</div>
	<div class="row">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li><a id="fbname" href="/user/"></a></li>
        <li><a href="/map/">Map</a></li>   
		<li><a href="/home/">About</a></li>    
		<!--<li><div class="fb-login-button" id="fb-button" data-max-rows="3" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div></li>-->
		<li> <button type="button" class="btn btn-primary" onclick='logout();' >Logout</button></li>


      </ul>
     </div>
</div>


<div class="container" id="allContent">
	<div class="jumbotron" id="jumbo_content">
		<h2> {{template "title" . }} </h2>
		{{ template "content" . }}		
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; wewt wewt</p>
				
			</footer>
		</div>
	</div>
</div>
</div>
</body>
</html>                                		
