<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>DIBS</title>

<link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<style type="text/css">
    body{
    	padding-top: 35px;
    }
</style>
{{template "head" . }}

</head>
<body>
<div class="container" id="top-box">

<div class="container" id="top-title">
<h1>DIBS</h1>
</div>

<div class="containter" id="facebook">

    <div id="fb-root"></div>

 <script src="/static/js/facebook.js"></script>
    	
  

<div id="status"> </div>



<div class="container" id="facebook-login">
</div>
<div class="container" id="facebook-like">
<!-- Added to check fb compability (Like Button)-->
<div 
  class="fb-like"
  data-share="true"
  data-width="200"
  data-show-faces="false">
</div>
</div>
</div>
</div>

<div class="container">
	<div class="jumbotron">
		<h2> {{template "title" . }} </h2>
		{{ template "content" . }}		
	</div>

	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p></p>
			</footer>
		</div>
	</div>
</div>
</body>
</html>                                		
