
{{define "head"}} 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB28dYnChM2OgEMpgLL8rOXsR7_cuGJ4NU"> </script>
<script src="/static/js/map.js"></script>
<script src="/static/js/createMarker.js"></script>
<script src="/static/js/getLocations.js"></script>

{{end}}

{{define "title"}} Stairs location {{end}}

{{define "content"}}  
<div>
	<div onload='initialize();' id="map_canvas"style="min-height:500px; min-width:500px;"></div>
	<div class="row" style="margin:15px; margin-left:0px;">
		<form action="addStairs" onclick="window.open(this.action, 'mywin','toolbar=0,menubar=0,scrollbars=0,height=600,width=720'); return false">
		    <input type="submit" class="btn btn-primary" value="Add Location" >
		</form>			
	</div>
</div>

 {{end}}

 